$primary-font: sans-serif;
$secondary-font:'Oswald', sans-serif;

.card {
  min-height: calc(100vh - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  
  .main {
    background: #ccc;
    background: url('https://images.unsplash.com/photo-1466071624063-c556307cb4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60') no-repeat center center;
    background-size: cover;
    box-shadow: 
      inset 0 0 100vw 100vw rgba(0,0,0,0.3),0 16px 8px -8px rgba(0, 0, 0, 0.4);
    max-width: 1000px;
    height: 440px;
    padding: 0 0 32px;
    display: flex;
    overflow-x: scroll;
  }
  /*CARD*/
  .card__btn {
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 24px;
    font-family: $primary-font;
    font-size: 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 88px;
    margin: 8px 0 0;
    padding: 8px;
  }
  .card__text-sm {
    color: #fff;
    font-family: $primary-font;
    font-size: 10px;
    margin: 0;
    padding: 16px 0 8px;
    position: relative;
  }
  .card__text-sm::before {
    content: "";
    background: #fff;
    height: 1px;
    width: 16px;
    position: absolute;
    top: 0;
  }
  .card__text-lg {
    color: #fff;
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
    width: 100%;
    margin: 0;
  }
  /*...large...*/
  .card-lg__container {
    padding: 0 16px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
    .card__text-lg {
      font-family: $secondary-font;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: 1.4px;
    } 
    .card__text-md {
      color: #fff;
      font-family: $primary-font;
      font-size: 10px;
      font-weight: 100;
      line-height: 1.5;
      padding: 0 32px 0 0;
      opacity: 0.9;
    }
    .card__text-sm {
      font-size: 14px;
    }
    .card__text-sm::before {
      width: 24px;
      height: 2px;
    }
  }
  /*...small...*/
  .card-sm__container {
    height: 232px;
    margin: 0 -88px 0 0;
    display: flex;
    align-self: flex-end;
  }
  .card-sm {
    background: #ccc;
    background-size: cover; 
    background-position: center center;
    box-shadow: inset 0 0 100vw 100vw rgba(0, 0, 0, 0.3),
      0 16px 8px -8px rgba(0,0,0,0.4);
    border-radius: 8px;
    width: 150px;
    height: calc(100% - 64px); 
    margin: 0 8px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: 0.3s ease;
    
    &:hover {
      margin: -8px 8px 0;
    }
    
    .card__text-sm { 
      opacity: 0.8;
    }
    
  }
}


/*HIDE DEFAULT SCROLL BAR*/
.main::-webkit-scrollbar {
  display: none;
}