.cavernDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    min-width: 800px;
    z-index: 0;

    .detailsPhoto{
        width: 100%;
    }

    .cavernInfo {
       display: flex;
       flex-direction: column;
       gap: 20px;

       .cavernType {
        font-size: 0.9rem;
       }

       .cavernDescription {
        margin-top: 10px;
        text-align: right;
        font-style: italic;
       }
    }

    .back {
        background: #8D5B4C;
        color: white;
        border: 1px;
        width: 100%;

        &:hover {
            background: #a15640;
            cursor: pointer;
        }
    }

    .line {
        height: 1px;
        background: grey;
        opacity: .5;
    }

    .cavernResa {
        display: flex;
        justify-content: center;
        margin: 50px;
        gap: 50px;
        width: 100%;
    }
}