* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.searchbar-form {
  width: 400px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.searchbar-select {
  padding: 15px 25px;
  border: 1px solid rgb(177, 177, 177);
}

.searchbar-select:first-child {
  border-radius: 25px 0 0 25px;
  border-right: none;
}

.searchbar-select:last-child {
  border-radius: 0 25px 25px 0;
  border-left: none;
}
